
<div class="main mt-5">
    <h2>Time spent on hiring is time well spent </h2>
    <h3>Job seekers should not be afraid to give up the good to go for the great.</h3>
    <h4 class="mb-5">Hire! Get hired!</h4>
    <a href="/jobs"><button type="button" class="btn btn-theme">I am a job Seeker</button></a>
    <a href="/login"><button type="button" class="btn btn-theme">I am a recruiter</button></a>
</div>