<div class="d-flex flex-column align-items-center fs-1">
    <h1 class="text-center my-5"><i class="fa-solid fa-user-slash text-danger"></i>OOPS</h1>
    <p class="text-center fs-1">
        <%=msg%>
    </p>

</div>